home-page-tabs {

    .bottom-up {
        bottom: 2% !important;
        font-weight:400;
    }

    .tabs-ios[tabsLayout=title-hide] .tab-button, .tabs-ios .tab-button.icon-only {
	    min-height: 55px !important;
        height: 60px;
    }
    .fab ion-icon {
        font-size: 3.4rem !important;
    }

    .tabs-ios .tabbar {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        /* border-top: 0.55px solid rgba(0, 0, 0, 0.3); */
        // background: #f8f8f8;
            background-color: #223131;
        box-shadow: 0 0 0 0px #ccc;
    }

    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
        color:#fff !important;
         //border-bottom: 2px solid #fff;
    }
         .tabs-ios .tab-button[aria-selected=false] {
            color: #ccc ;
    }

    .tabs-ios .tab-button[aria-selected=true] {
            color: #fff !important;
        border-bottom: 2px solid #fff;
    }
    
}

