page-login {

    ion-list, ion-item{
      background:transparent
    }
    .app-icon{
      font-size:50px;
      color: $primary;
      text-align: center;
    }
    .btn-radius{    border-radius: 22px;}
  }
  