news-item {
	.author {
		span {
			font-weight: 600;
		}
	}

	.place {
		span {
			font-weight: 600;
		}
	}
	.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    width: 107px !important;
     height: 0px !important;
}
}