<ion-header>
	<ion-navbar>
		<ion-title>News</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding>
		<h2 *ngIf="post.title">{{post.title}}</h2>
		<p class="as-note">
			<ion-icon name="clock"></ion-icon> {{post.createdOn | stringToDate | date : 'short'}}
			<br>
			<ion-icon name="pricetag"></ion-icon> {{post.type}}
			<br>
			<span ><ion-icon name="person"></ion-icon>  Konnect In</span>
		</p>
	</div>

	<img  src="https://scontent.xx.fbcdn.net/v/t1.0-0/s130x130/18268502_1819225681729554_6501371548671763085_n.png?_nc_cat=0&oh=fe69f12f8f8994ac561098c3ca32f4d1&oe=5B98A222"
			 style="display: block; margin: auto"/>

	<div padding>
		<p class="place" ><span>Place: </span>Delhi</p>

		<p>{{post.message}}</p>
		<p *ngIf="post.description ">{{post.description}}</p>

		<!--<button ion-button icon-right full *ngIf="post.link" (click)="openLink(post.link)">{{post.name}} <ion-icon name="arrow-dropright"></ion-icon></button>-->

	</div>
</ion-content>
