as-page-menu-items {
  .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
    margin: 8px 16px 8px 0 !important;
  }
  .row-card{
    //width: 95%;
    //margin-left: 2.5%;
    background-color: #fff;
    padding: 5px;
    //box-shadow: 1px 2px 2px 2px #efecec;
  }

  .card-ios {
    margin: 0px;
    border-radius: 5px;
    width: calc(100% );
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 132px;
  }

  .tiless{

    float: left;
    margin:0px !important;
    height:100%;
    box-shadow: none !important;
    margin-top: 14px;
  }

  .large-card{
    margin-top: 44px;
    height: 100px;
  }

  .card-content-ios {
    padding: 5px ;
    font-size: 1.4rem;
    line-height: 1.4;
    /* margin-top: 44px; */
  }
  .background-image{
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
