<ion-header>
	<ion-navbar>
		 <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<!--<ion-title>Services</ion-title>-->

		<ion-buttons end>
			<button ion-button color="primary" >Log In</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<!--<ion-list [hidden]="items.length === 0">-->
		<!--<ion-item (click)="itemTapped(item)" *ngFor="let item of items" text-wrap>-->
			<!--<ion-thumbnail item-start>-->
				<!--<img [src]="item.thumb[0].url">-->
			<!--</ion-thumbnail>-->
			<!--&lt;!&ndash;<h2 padding-top>{{item.title}}</h2>&ndash;&gt;-->
			<!--<h3>{{item.title}}</h3>-->
		<!--</ion-item>-->
	<!--</ion-list>-->

	<ion-grid no-margin class="">
		<ion-row *ngFor="let tilePair of tiles" class="row-card">

			<ion-col col-12 *ngFor="let tile of tilePair;let i=index " class = "horizontal" >
				<ion-card class="tile background-image "
				>

					<!--[ngStyle]="{'background-image': 'url(' + tile.image + ')'}"-->

					<!--<ion-card-content text-center class=" large-card">-->
						 <img [src]="tile.image" style="    height: 100%;">
						<!--<h1>-->
						<!--<ion-icon [name]="tile.icon"></ion-icon>-->
						<!--</h1>-->
						<!--<h2>{{tile.title}}</h2>-->

					<!--</ion-card-content>-->
				</ion-card>

			</ion-col>
		</ion-row>

	</ion-grid>

	<ion-grid [hidden]="tiles.length > 0">
		No businesses found
	</ion-grid>


</ion-content>
