page-register {
    .app-icon{
        font-size: 50px;
        color: #000;
        text-align: center;
        padding-bottom: 20px;
        padding-top:90px;
    }
    .text-input-ios{
        //border: 2px solid #a7a7a7;
        //padding: 10px;
        padding: 20px;
        background: #fff;
        border: 1px solid #f9f9f9;
        color: #8d8d8d;
        font-family: 'PT Sans';
        font-size: 16px;
        width: 100%;
        display: block;
        margin: 0px !important;
    }
    .cancel-color{
        //background-color: #f53d3d;
    }
}
