<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Reviews</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="reviews">
	<ion-list>
		<ion-item *ngFor="let review of reviews" text-wrap="">
			<h2>{{review.reviewer.name}}</h2>
			<p class="as-note"><ion-icon name="clock"></ion-icon> {{review.created_time | stringToDate | date : 'short'}}</p>
			<p>{{review.review_text}}</p>
			<rating *ngIf="review.has_rating" [ngModel]="review.rating" readOnly="true"></rating>
		</ion-item>
	</ion-list>
</ion-content>
