news-list {
	h3 {
		text-align: center;
	}

	.cal-month-view {
		.cal-day-cell {
			min-height: 60px;
		}

		.cal-day-badge {
			display: none;
		}

		.cal-cell-top {
			min-height: 60px;
		}
	}

	.segment-ios .segment-button {
		border-color: #4c8dfc;
		color: #4c8dfc;
	}
	.segment-ios .segment-button.segment-activated {
		background: #4c8dfc;
		color: #fff;
	}

	.toolbar-ios .segment-button {
		max-width: 128px;
		height: 3.6rem;
		font-size: 1.7rem;
		line-height: 3.5rem;
	}
}