<!--<ion-header>-->
	<!--<ion-navbar>-->
		<!--<button ion-button menuToggle>-->
			<!--<ion-icon name="menu"></ion-icon>-->
		<!--</button>-->
		<!--<ion-title>News & Events</ion-title>-->
	<!--</ion-navbar>-->
<!--</ion-header>-->



<ion-header>
	<ion-navbar>

	<ion-title>Whats On</ion-title>
	</ion-navbar>

	<!--<ion-toolbar no-border-top>-->
		<!--<ion-segment [(ngModel)]="action">-->
			<!--<ion-segment-button value="news">-->
				<!--News-->
			<!--</ion-segment-button>-->
			<!--<ion-segment-button value="events">-->
				<!--Events-->
			<!--</ion-segment-button>-->
		<!--</ion-segment>-->
	<!--</ion-toolbar>-->
</ion-header>



	<ion-content >
		<ion-refresher (ionRefresh)="doRefresh($event)">
			<ion-refresher-content></ion-refresher-content>
		</ion-refresher>
	<div [ngSwitch]="action" >

		<ion-list *ngSwitchCase="'news'">
			<ion-item text-wrap *ngFor="let post of posts" (click)="itemTapped(post)">
				<h2>{{post.title}}</h2>
				<p class="as-note"><ion-icon name="clock"></ion-icon> {{post.createdOn | stringToDate | date : 'short'}}
				</p>
				<ion-thumbnail item-left>
					<img class="as-thumb"  src="https://scontent.xx.fbcdn.net/v/t1.0-0/p480x480/18268502_1819225681729554_6501371548671763085_n.png?_nc_cat=0&oh=81c94cf3a96646c6ca9ff0c3062d9c94&oe=5B96F752"/>
				</ion-thumbnail>
				<p>{{post.description | truncate : 140}}</p>
				<p *ngIf="!post.description">{{post.description}}</p>
			</ion-item>
		</ion-list>

		<!--<ion-list >-->
		<h3 *ngSwitchCase="'events'">{{ viewDate | calendarDate:(view + 'ViewTitle') }} </h3>
		<ion-grid *ngSwitchCase="'events'">
			<ion-row>
				<ion-col>
					<button ion-button small full
							mwlCalendarPreviousView
							[view]="view"
							[(viewDate)]="viewDate"
							(viewDateChange)="viewDateChange(viewDate)">
						Prev
					</button>
				</ion-col>
				<ion-col>
					<button ion-button small full color="light"
							mwlCalendarToday
							[(viewDate)]="viewDate"
							(viewDateChange)="viewDateChange(viewDate)">
						Today
					</button>
				</ion-col>
				<ion-col>
					<button ion-button small full
							mwlCalendarNextView
							[view]="view"
							[(viewDate)]="viewDate"
							(viewDateChange)="viewDateChange(viewDate)">
						Next
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>

		<mwl-calendar-month-view *ngSwitchCase="'events'"
				[viewDate]="viewDate"
				[events]="eventt"
				[activeDayIsOpen]="activeDayIsOpen"
				[refresh]="refresh"
				(dayClicked)="dayClicked($event.day)">
		</mwl-calendar-month-view>

		<!--</ion-list>-->
	</div>

</ion-content>


