<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Community Groups</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="newGroup()">Create</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<ion-list >-->
    <!--<ion-item text-wrap *ngFor="let post of posts" (click)="itemTapped(post)">-->
      <!--<h2>{{post.title}}</h2>-->
      <!--<p class="as-note"><ion-icon name="clock"></ion-icon> {{post.createdOn | stringToDate | date : 'short'}}-->
      <!--</p>-->
      <!--<ion-thumbnail item-left>-->
        <!--<img class="as-thumb"  src="https://scontent.xx.fbcdn.net/v/t1.0-0/p480x480/18268502_1819225681729554_6501371548671763085_n.png?_nc_cat=0&oh=81c94cf3a96646c6ca9ff0c3062d9c94&oe=5B96F752"/>-->
      <!--</ion-thumbnail>-->
      <!--<p>{{post.description | truncate : 140}}</p>-->
      <!--<p *ngIf="!post.description">{{post.description}}</p>-->
    <!--</ion-item>-->
  <!--</ion-list>-->

  <!-- No groups to show -->
  <div class="empty-list" *ngIf="groups && groups.length <= 0">
    <h1><ion-icon name="md-chatbubbles"></ion-icon></h1>
    <p>No new groups yet.</p>
  </div>
  <!-- Show groups -->
  <div *ngIf="groups && groups.length > 0">
    <!--<ion-searchbar [(ngModel)]="searchGroup" placeholder="Search for group" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>-->
    <ion-list >
      <ion-item *ngFor="let group of groups | groupFilter: searchGroup" (click)="viewGroup(group.key,group.isMember)" class="group-border">
        <ion-thumbnail item-left>
          <img class="as-thumb" src="{{group.img}}">
        </ion-thumbnail>
        <h2>{{group.name}}</h2>
        <p class="as-note">
          <!--<ion-icon name="clock"></ion-icon>-->
          {{group.description }}</p>
        <ion-badge item-right color="danger" *ngIf="group.unreadMessagesCount > 0">{{group.unreadMessagesCount}}</ion-badge>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
