.getting-started {
	background-color: #fff;
	.home-hello {
		position: relative;
		    height: 52%;
		//background-color: #65747f;


		//#63717c

		.hello-title {
			position: absolute;
			left: 3%;
			right: 3%;
			top: 90%;
			margin: 0;
			border: 0;
			background: #fff;
			padding: 4px;
			border: #ddd solid 1px;
			-webkit-box-shadow: 0px 2px #efecec;
			box-shadow: 0px 2px #efecec;
			//border-radius: 2px;
			//height: 26%;
			z-index:9;
			border-radius: 5px;
		}
		h1 {
			margin-top: 0;
		}
	}
		.open {
			color: map-get($colors, secondary);
			font-weight: 500;
		}

		.close {
			color: map-get($colors, danger);
			font-weight: 500;
		}

		.quick-action {
			width: 100%;
			ion-icon {
				font-size: 2em;
				width: 20px;
			}
			span {
				font-size: 1.6rem;
				padding-left: 10px;
				padding-top: -3px;
				vertical-align: text-bottom;
			}
	}

	.paddingTop{
		padding-top: 15%;
		background-color: #f9f7f7;
		padding-bottom: 7%;

	}
	.row-card{
        width: 95%;
		margin-left: 2.5%;
		background-color: #fff;
		padding: 5px;
		box-shadow: 1px 2px 2px 2px #efecec;
		border-radius: 5px;
	}

	.card-ios {
	    margin: 0px;
	    border-radius: 5px;
		width: calc(100% ); 
		font-size: 1.4rem;
		background: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		height: 92px;
    }

	.tiless{

		float: left;
		margin:0px !important;
		height:100%;
		box-shadow: none !important;
		margin-top: 14px;
	}

	.large-card{
		margin-top: 44px;
	    height: 100px;
	}

	.card-content-ios {
		padding: 5px ;
		font-size: 1.4rem;
		line-height: 1.4;
		/* margin-top: 44px; */
	}
	.background-image{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.chatInput{
		//width: 87%;
		//border: solid 1px #ddd;
		//border-radius: 20px;
		//height: 30px;
		//margin-top: 3%;
		//float: left;
		//padding: 10px;

		width: 87%;
		border: solid 1px #ddd;
		border-radius: 20px;
		//height: 33%;
		margin-top: 3%;
		float: left;
		padding: 7px;

	}





}

.slide-zoom{
	padding-bottom: 6%;
}
.home-toogle
{
	//color: #fff !important;
	color: #233131 !important;
	font-size: 2.5rem;
	z-index: 99;
	background: transparent !important;
	padding: 14px;
	margin-top: 0px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {

	top: 82%;
}

.swiper-slide img {
	width: auto;
	max-width: 80%;
	height: auto;
	max-height: 100%;
}

.send-btn{
	margin-top: 3%;
	font-size: 2.3rem;
	color: #0079ff;
	background-color: #fff;
}



