<ion-header hidden>
	<ion-navbar class="change-background">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<!--<ion-title>Home</ion-title>-->
	</ion-navbar>
</ion-header>
<div>
	<button ion-button menuToggle class="home-toogle">
		<ion-icon name="menu"></ion-icon>
	</button>
	<!--<img end src="assets/img/transparent-logo.png">-->


</div>

<ion-content class="getting-started">

	<div class="home-hello" style="background-image:url('assets/img/banner-background.jpeg');
		background-repeat: no-repeat;
		background-size: 100% 100%;">
		<ion-slides pager  *ngIf="this.data.hasOwnProperty('cover')" autoplay="5000"  loop="true" speed="500" >
			<ion-slide *ngFor="let picture of this.data.cover.source">
		<!--<img  src="{{picture}}" style="height:290px !important;"/>-->
		<img  src="{{picture}}" [ngStyle]="{'height':bannerHeight+'px'}"/>



			</ion-slide>
		</ion-slides>

		<div class="hello-title" text-wrap  [ngStyle]="{'height':chatContainerHeight+'px'}">
<!--&lt;!&ndash;&ndash;&gt; <ion-item class="bottom_bar">-->
			<!--<ion-input #input type="text" class="chatInput" placeholder="Your message here.." [(ngModel)]="chatText"></ion-input>-->
			<!--<button ion-button icon-only item-right clear >-->
				<!--<ion-icon name="send"></ion-icon>-->
			<!--</button>-->
		<!--</ion-item>-->

			<ion-card class="tiless"  >
				<ion-card-content text-center>


					<input type="text" class="chatInput" placeholder="Ask me something....." [(ngModel)]="chatText">

					<!--<div style="padding-top:15px;" (click)="openModal()">-->
						<button class="send-btn " (click)="openModal()"><ion-icon name="md-send"></ion-icon></button>
					<!--</div>-->


				</ion-card-content>
			</ion-card>



		</div>
	</div>

	 <!-- <flash-card>
 
        <div class="flash-card-front">FLASH CARDS</div>
 
        <div class="flash-card-back">ARE COOL!</div>
 
    </flash-card> -->

	<ion-grid no-margin class="paddingTop">
		<ion-row *ngFor="let tilePair of tiles" class="row-card">
			
			<ion-col col-6 *ngFor="let tile of tilePair;let i=index " class = "horizontal" >
				<ion-card class="tile background-image " [ngStyle]="{'background-image': 'url(' + tile.image + ')'}" (click)="navigateTo(tile)"
				   >

					<ion-card-content text-center class=" large-card"> 
                        <!-- <img [src]="tile.image"> -->
						 <!--<h1>-->
							<!--<ion-icon [name]="tile.icon"></ion-icon>-->
						<!--</h1>-->
						<!--<h2>{{tile.title}}</h2>-->

					</ion-card-content>
				</ion-card>
				
			</ion-col>
		</ion-row>
		
	</ion-grid>



		<!-- <ion-card-header>
			Stay in touch
		</ion-card-header>
<ion-row> 
		<ion-card class="quick-action" (click)="callUs()">
			<ion-card-content>
				<ion-icon name="phone-portrait"></ion-icon>
				<span>Call us</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="sendEmail()">
			<ion-card-content>
				<ion-icon name="mail"></ion-icon>
				<span>Send us an Email</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="getDirections()">
			<ion-card-content>
				<ion-icon name="compass"></ion-icon>
				<span>Find us / Get directions</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="showMore()">
			<ion-card-content>
				<ion-icon name="information-circle" item-left></ion-icon>
				<span>About us</span>
			</ion-card-content>
		</ion-card>
	</ion-row>-->
</ion-content>
