<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>Groups</ion-title>

  </ion-navbar>
</ion-header>
<ion-content>
  <!-- No groups to show -->
  <div class="empty-list" *ngIf="groups && groups.length <= 0">
    <h1><ion-icon name="md-chatbubbles"></ion-icon></h1>
    <p>No new groups yet.</p>
  </div>
  <!-- Show groups -->
  <div *ngIf="groups && groups.length > 0">
    <ion-searchbar [(ngModel)]="searchGroup" placeholder="Search for group" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
    <ion-list no-lines>
      <ion-item *ngFor="let group of groups | groupFilter: searchGroup" (click)="viewGroup(group.key)">
        <ion-thumbnail item-start>
          <img src="{{group.img}}">
        </ion-thumbnail>
        <h2>{{group.name}}</h2>
        <p>{{group.description}}</p>
        <p>{{group.date | DateFormat}}</p>
        <ion-badge item-right color="danger" *ngIf="group.unreadMessagesCount > 0">{{group.unreadMessagesCount}}</ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>