//$font-path: "../assets/fonts";
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  //primary:    #39C48A,
  primary:    #000,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  white: #fff,
  balanced:   #33cd5f,
  gray: #c3c3c3,
  facebook: #3052a8,
  google: #dd4b39,
);

// $primary: #39C48A;
$primary: #fff;
$secondary: #55acee;
$secondary-active: #6acdff;
$dark: #333;
$dark-active: #4c4c4c;
$gray: #c3c3c3;

$chat-right-bg: #f3f3f3;
$chat-right-color: #222;
$chat-left-bg: $primary;
$chat-left-color: #f4f4f4;

$toolbar-background: $primary;
$fab-content-margin: 0;

$refresher-border-color: rgba(0, 0, 0, 0);


@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
@import "roboto";
@import "noto-sans";
