// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media (min-width: 768px) {
	.ion-page {
		margin-left: 30%;
		width: 70%;
	}

	ion-menu {
		width: 30%;
		display: block;
	}

	.bar-button-menutoggle {
		display: none;
	}

	ion-menu ion-backdrop {
		display: none;
	}

	ion-content {
		border-left: none;
  }
  
 


	ion-menu[type=overlay] .menu-inner {
		-webkit-transform: translateX(0px) !important;
		transform: translateX(0px) !important;
		box-shadow: none;
		width: 100%;
	}
}

/*
 * Components Cards page style
 */

  	ion-navbar{
        height: 65px !important;
            box-shadow: 1px 1px #ddd;
}
.card-background-page {
	ion-card {
		position: relative;
		text-align: center;
	}

	.as-overlay {
		position: absolute;
		background-color: black;
		opacity: 0.3;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}

	.card-title {
		position: absolute;
		top: 36%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: #fff;
	}

	.card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 52%;
		width: 100%;
		color: #fff;
	}
}

h1.as-header-icon {
	text-align: center;
}

h1.as-header-icon ion-icon{
	font-size: 6em;
}

/*
 * Components Grid page style
 */
.grid-page {
  ion-col div {
    background-color: #F9FAFB;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
}

/*
 * Components Icons page style
 */
.icons-page {
  ion-icon {
    font-size: 50px;
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }

  ion-col {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 10px 5px;
  }
}

/*
 * Components Avatar List page style
 */
.avatar-list-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}

ion-item ion-thumbnail {
	align-self: flex-start;
}

.note-md {
	font-size: smaller;
}

/*
 * News and Events style
 */
 .as-note{
	 opacity: 0.6;
 }

.item-md p.as-note {
	margin-bottom: 8px;
}

img.as-thumb {
  object-fit: cover;
}

////chat appp css  ////



.no-scroll .scroll-content {
  overflow: hidden;
}

//Center Class to align content to center.
.center {
  text-align: center;
}
.tabs-ios .tabbar{
  background: #fff;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
  color: $primary;
}

.tabs-ios .tab-button[aria-selected=true]{
  color: $primary;
  border-bottom: 2px solid $primary;
}

.segment-ios .segment-button{
  border-color: $primary;
  color:$primary;
}
.segment-ios .segment-button.segment-activated{
  background: $primary;
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
  border-style: none;
}
.top{
  background: $primary;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}
.top img{
  height: 80px;
  width: 80px;
}
a{
  color: #222;
}

.chatbox{
  padding:3px;
  border-radius: 5px;
  max-width: 70%;
  min-width: 70%;
  margin: 5px;
}
.chatbox span{
  font-size: 12px;
}
.right{
  border-radius: 5px;
  background: $chat-right-bg;
  color: $chat-right-color;
  float: right;
  text-align: right;
  padding-right: 5px
}
.left{
  border-radius: 5px;
  background: $chat-left-bg;
  color:$chat-left-color;
  float: left;
  text-align: left;
  padding-left: 5px
}
video{
  background: $chat-left-bg;
  border-radius: 5px;
}

//Empty List
.empty-list {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;

  h1,
  p {
    color: $gray;
  }

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.125em;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background: $dark;
  }

  button.activated,
  button:active {
    background: $dark-active;
  }
}


//Footer Bar for message.html and group.html
ion-footer.footer {
  background-position: initial initial;
  background-repeat: initial initial;
}

.bottom_bar {
  padding-top: 0.25em;
  // padding-bottom: 0.25em;
  border-top: 1px solid #e1e1e1;

  ion-textarea {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-radius: 0.75em;
  }

  button ion-icon {
    font-size: 2em !important;
    color: $primary;
  }
  // {
  //       bottom: 2% !important;
  //       font-weight:400;
  //   }
}


.left{
  color:#424242 !important;
  background-color: #f4f4f4 !important;
}

.right{
  //color:#424242 !important;
  background-color: #78B1FC !important;
}

//.toolbar-background-md {
//    border-color: #b2b2b2;
//    background: #FE6665;
//}

.top{
  color: #424242 !important;
}

.bottom_bar button ion-icon {
  font-size: 2em !important;
  color: #343434;
}