<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Open hours</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding *ngIf="info">
		<h2>{{info.name}}</h2>
		<p *ngIf="info.username">@{{info.username}}</p>
		<p>{{info.address}}</p>
	</div>
	<ion-list *ngIf="info?.hours?.length">
		<ion-list-header>Open Hours</ion-list-header>
		<ion-item *ngFor="let item of info.hours">
			<h3>{{item.day}}</h3>
			<span class="slot" *ngFor="let slot of item.slots">{{slot.open}} - {{slot.close}} </span>
		</ion-item>
	</ion-list>

	<div padding>
		<button *ngIf="info.phone" ion-button block (click)="call()">Call now: {{info.phone}}</button>
	</div>
</ion-content>
