page-business-detail {
	.actions {
		margin-bottom: 0 !important;
	}

	.business-info {
		position: fixed;
		bottom: 0;
		background-color: rgba(0, 0, 0, .5);
		color: white;
		width: 100%;
		text-align: left;
		padding-left: 15px;

		h1 {
			margin-top: 0.8rem;
	    font-weight: 400;
	    margin-bottom: 0;
	    font-size: 2rem;
		}

		p{
			font-size: 1.6rem;
    	margin: 0 0 0.8rem 0;
		}
	}

	.tiles {
		.tile {
			.item {
				padding: 0;
			}

			.item-inner {
				padding: 0;
			}

			h2 {
				text-align: center;
			}

			h1 {
				text-align: center;
				padding-bottom: 10px;
			}
		}
	}

	.rating {
		padding-left: 0;
		margin-top: 5px;
		margin-bottom: 0;
		margin-left: -10px;
	}

	ion-label{
		font-size: 1.4rem;
		line-height: 1.5;
	}
	.item-inner{
		margin-left:24px;
	}
	.list-ios > .item-block:first-child {
		border-top: 0 !important;
	}
}
