.horizontal-list {
	height: 50px;
	white-space: nowrap;

	.filter-item {
		height: 40px;
	}

	.active-filter {
		font-style: italic;
		font-weight: bold;
	}
}

.distance {
	position: absolute;
	right: 15px;
}

ion-thumbnail img {
	width: 80px !important;
	height: 80px !important;
}



.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
	margin: 40px 16px 8px 0!important;
}

agm-map {
	width: 100%;
	height:450px !important;
}

.segment-ios .segment-button {
	border-color: #4c8dfc;
	color: #4c8dfc;
}
.segment-ios .segment-button.segment-activated {
	background: #4c8dfc;
	color: #fff;
}

.toolbar-ios .segment-button {
	max-width: 128px;
	height: 3.6rem;
	font-size: 1.7rem;
	line-height: 3.5rem;
}

a {
	color: #4b8dfc;
}
