<ion-header>
	<ion-navbar no-border-bottom>
		<!--<button ion-button menuToggle>-->
			<!--<ion-icon name="menu"></ion-icon>-->
		<!--</button>-->

		<ion-title style="">Local Shops</ion-title>

		<!--<ion-buttons end *ngSwitchCase="'directory'">-->
			<!--<button class="clear-filter" ion-button icon-only (click)="clearFilter()" [hidden]="!isFilterDirty">-->
				<!--<ion-icon name="close"></ion-icon>-->
			<!--</button>-->
			<!--<button ion-button icon-only (click)="presentFilter()">-->
				<!--<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>-->
			<!--</button>-->
		<!--</ion-buttons>-->
		<ion-buttons end *ngIf="action === 'directory'">
			<button class="clear-filter" ion-button icon-only (click)="clearFilter()" [hidden]="!isFilterDirty">
				<ion-icon name="close"></ion-icon>
			</button>
			<button ion-button icon-only (click)="presentFilter()">
				<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
			</button>
		</ion-buttons>

	</ion-navbar>



	<ion-toolbar no-border-top>

		<ion-segment [(ngModel)]="action">
			<ion-segment-button value="directory">
				Directory
			</ion-segment-button>
			<ion-segment-button value="maps">
				Maps
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>



</ion-header>

<ion-content>


	<div [ngSwitch]="action" >
<!--for directory-->

<div style="padding:10px 5px;" *ngSwitchCase="'directory'">
		<ion-searchbar   color="primary" [(ngModel)]="queryText" (ionInput)="updateList()" placeholder="Search"></ion-searchbar>

</div>

		<ion-scroll *ngSwitchCase="'directory'" scrollX="true" scrollY="false" zoom="true" class="horizontal-list">
			<button ion-button class="filter-item" color="light"
					*ngFor="let category of categories"
					[ngClass]="{ 'active-filter' : selectedCategory === category.$key }"
					(click)="selectCategory(category)">
				{{category.name}}
			</button>
		</ion-scroll>
		<ion-list *ngSwitchCase="'directory'"  [hidden]="businesses.length === 0">
			<ion-item (click)="goToBusinessDetail(business)" *ngFor="let business of businesses" text-wrap>
				<ion-thumbnail item-start>
					<img [src]="business.logo">
				</ion-thumbnail>
				<p class="distance">{{business.distance}}</p>
				<h2 padding-top>{{business.name}}</h2>
				<h3>{{business.categoryName}}</h3>
				<p>{{business.description | truncate: 130}}</p>
			</ion-item>
		</ion-list>

		<ion-list-header *ngSwitchCase="'directory'" [hidden]="businesses.length > 0">
			No businesses found
		</ion-list-header>

		<!--for maps-->
<div *ngSwitchCase="'maps'">

		<agm-map [latitude]="map.origin.latitude" [longitude]="map.origin.longitude" [zoom]="map.zoom" *ngIf="map">
			<agm-marker *ngFor="let marker of map.markers" [latitude]="marker.lat" [longitude]="marker.lng">

				<agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
					<ng-template>
						{{marker.name}}<br><a (click)="showBusinessDetails(marker.business)">Details</a>
					</ng-template>
				</agm-snazzy-info-window>
			</agm-marker>
		</agm-map>
	</div>
	</div>

</ion-content>
