<ion-header>
	<ion-navbar no-border-bottom>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-title>Favorites</ion-title>

		<ion-buttons end>
			<button class="clear-filter" ion-button icon-only (click)="clearFilter()" [hidden]="!isFilterDirty">
				<ion-icon name="close"></ion-icon>
			</button>
			<button ion-button icon-only (click)="presentFilter()">
				<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar no-border-top>
		<ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateList()" placeholder="Search"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-scroll scrollX="true" scrollY="false" zoom="true" class="horizontal-list">
		<button ion-button class="filter-item" color="light"
			*ngFor="let category of categories"
			[ngClass]="{ 'active-filter' : selectedCategory === category.$key }"
			(click)="selectCategory(category)">
			{{category.name}}
		</button>
	</ion-scroll>
	<ion-list #scheduleList [hidden]="businesses.length === 0">
		<ion-item *ngFor="let business of businesses" text-wrap (click)="goToBusinessDetail(business)">
			<ion-thumbnail item-start>
				<img [src]="business.logo">
			</ion-thumbnail>
			<h2>{{business.name}}</h2>
			<h3>{{business.categoryName}}</h3>
			<p>{{business.description | truncate: 140}}</p>
			<p class="distance">{{business.distance }}</p>

		</ion-item>
	</ion-list>

	<ion-list-header [hidden]="businesses.length > 0">
		No businesses found
	</ion-list-header>

</ion-content>