
<ion-header >
  <ion-navbar>

    <ion-buttons end (click)="dismiss()">
      <!--<ion-icon ios="ios-close-circle" md="md-close-circle" style="    font-size: 1.9em;" ></ion-icon>-->
      <button (click)="dismiss()" > Close</button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--<ion-fab bottom right>-->
    <!--<button ion-fab color="danger">-->
      <!--<ion-icon name="mic"></ion-icon>-->
    <!--</button>-->
  <!--</ion-fab>-->

  <ion-list no-lines class="chat-list">
    <ion-item *ngFor="let message of messages" class="chat-item" text-wrap >
      <ion-avatar item-left *ngIf="message.sender == 'api'">
        <img src ="assets/img/transparent-logo.png" style="    background-color: #D63B3E;
">
      </ion-avatar>
      <ion-avatar item-right *ngIf="message.sender == 'me'">
        <img src ="assets/img/notfound.png">
      </ion-avatar>
      <div *ngIf="message.sender == 'api'" class="bubble me">
        <h3> {{ message.text }} </h3>
      </div>
      <div *ngIf="message.sender == 'me'" class="bubble you">
        <h3> {{ message.text }} </h3>
      </div>
    </ion-item>
  </ion-list>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item style="border-top: 1px solid #ccc;">
      <ion-input #input type="text" placeholder="Your message here.." [(ngModel)]="chatText"></ion-input>
      <button ion-button icon-only item-right clear (click)="sendText();input.setFocus()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
